<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uz.codic.ahmadtea">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permissions.READ_DATABASE" />
    <uses-permission android:name="android.permissioms.WRITE_DATABASE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="${applicationId}.fileprovider.READ_DATABASE" />
    <uses-permission android:name="${applicationId}.fileprovider.WRITE_DATABASE" />


    <uses-permission
        android:name="android.hardware.camera2"
        android:required="true" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:name=".MvpApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.users.UsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity
            android:name=".ui.dashboard.maps.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.visit.MerchantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.map.MerchantsMapActivity"
            android:label="@string/title_activity_merchants_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.orders.basketList.BasketActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.news.LocationMonitoringService" />

        <activity
            android:name=".ui.synchronisation.setOrder.SetOrderActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="${applicationId}.fileprovider.READ_DATABASE"
            android:writePermission="${applicationId}.fileprovider.WRITE_DATABASE">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.add_merchant.AddMerchantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".errors.error_activity.ErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sittings.VersionInfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.MapsActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>